/* Colors */
:root {
    --primary-bg: #232E26;
    --secondary-bg: #D9EFDE;
    --accent-color: #5F6F52;
    --text-color: #232E26;
    --highlight-bg: #C7A78A;
    --light-bg: #F6F5F4;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* General Styles */
body {
    color: var(--text-color);
    background-color: var(--light-bg);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    background-color: var(--primary-bg);
    color: var(--secondary-bg);
    text-align: center;
    padding: 20px;
}

.logo img {
    height: 50px;
}

/* Hero Section */
.hero {
    position: relative;
    background-image: url('../assets/image/DJI.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-bg);
    opacity: 0.6;
}

.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
    padding: 20px;
}

/* Text Container */
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.text-container img {
    max-width: 220px;
    margin-bottom: 20px;
}

.text-container h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin: 0.2em 0;
}

.text-container p {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0.5em 0;
}

/* CTA Button (Outlined) */
.cta-button {
    padding: 15px 20px;
    font-size: 1em;
    font-weight: 400;
    color: var(--secondary-bg);
    background-color: transparent;
    border: 1px solid var(--secondary-bg);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    align-self: center;
}

.cta-button:hover {
    background-color: var(--primary-bg);
    color: var(--secondary-bg);
}

/* Sections */

.experience {
    background-color: var(--primary-bg);
}

.experience-cards,
.room-cards,
.guide-cards,
.why-us-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: var(--secondary-bg);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Introduction Section Styling */
.introduction {
    background-color: var(--secondary-bg);
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.text-content h2 {
    font-size: 3rem;
    font-weight: 700;
}

.introduction .text-content {
    max-width: 1000px;
    margin-bottom: 30px;
}

.location-content p,
.introduction .text-content p {
    font-size: 20px;
    font-weight: 200;
}

.introduction .text-content p:last-of-type {
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: 24px;

}

.intro-text {
    font-size: 1.2em;
    font-weight: 300;
    font-style: italic;
    color: var(--text-color);
    margin-bottom: 20px;
}

.intro-highlight {
    font-size: 1.4em;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 20px;
}

.intro-description {
    font-size: 1em;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 20px;
}

.intro-callout {
    font-size: 1em;
    font-weight: 300;
    color: var(--text-color);
    margin-bottom: 40px;
    font-style: italic;
}

/* CTA Section within Introduction */
.cta {
    max-width: 800px;
    text-align: center;
}

.call-to-action {
    font-size: 1.3em;
    font-weight: 400;
    font-style: italic;
    color: var(--text-color);
    margin-bottom: 20px;
}

/* Solid Button for Introduction Section */
.cta-button--solid {
    padding: 20px 30px;
    font-size: 1.1em;
    font-weight: 700;
    color: var(--secondary-bg);
    background-color: var(--primary-bg);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button--solid:hover {
    background-color: var(--accent-color);
    color: var(--light-bg);
}

/* Location Section */
.location {
    padding: 60px 20px;
    text-align: center;
}

.location-image {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 8px;
    margin: 30px auto;
    display: block;
}

.location-content {
    max-width: 1000px;
    margin: 0 auto 20px;
    text-align: left;
}

.location-content h2 {
    font-size: 3em;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 20px;
}

.location-content p {
    color: var(--text-color);
    margin-bottom: 20px;
    line-height: 1.6;
}

.location-button {
    display: inline-block;
    padding: 20px 30px;
    font-size: 1em;
    font-weight: 600;
    color: var(--secondary-bg);
    background-color: var(--primary-bg);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.location-button:hover {
    background-color: var(--accent-color);
}

.why-us {
    padding: 60px 20px;
    text-align: center;
}

.why-us h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--primary-bg);
    margin-bottom: 40px;
}

/* Experience Section */
.experience {
    padding: 60px 20px;
    text-align: center;
}

.experience h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--secondary-bg);
    margin-bottom: 40px;
}

.experience-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.experience-card {
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.experience-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin: 0;
    padding: 0;
}

.experience-content {
    padding: 20px;
}

.experience-content h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.experience-content p {
    font-size: 1em;
    font-weight: 200;
    color: var(--text-color);
    line-height: 1.5;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 10px;
}

.card p {
    font-size: 0.95em;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.5;
}

/* Gallery Section */

.gallery h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 40px;
}
  
  .carousel-inner img {
    max-height: 80vh;
    object-fit: cover;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  
/* Inclusions and Exclusions Section */
.inclusions-exclusions {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 120px 100px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .inclusion-card,
  .exclusion-card {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 60px;
    width: 100%;
    text-align: left;
    flex: 1;
    box-sizing: border-box;
    background-color: white;
  }
  
  .inclusion-card h2,
  .exclusion-card h2 {
    font-size: 2.8em;
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: 30px;
    text-align: center;
  }
  
  .inclusion-card ul,
  .exclusion-card ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  
  .inclusion-card li,
  .exclusion-card li {
    font-size: 1.1em;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .inclusion-card li i,
  .exclusion-card li i {
    color: var(--accent-color);
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: 900;
  }
  
  .inclusion-card a,
  .exclusion-card a {
    color: var(--accent-color);
    text-decoration: underline;
    font-weight: 500;
  }
  
  .inclusion-card a:hover,
  .exclusion-card a:hover {
    text-decoration: none;
  }

  
/* Emphasized Text */
.exclusion-card li em {
    color: var(--text-color);
    font-style: italic;
    font-weight: 300;
    margin-left: 25px;
    display: block;
    margin-top: 5px;
    font-size: 0.95em;
}

/* Room Options Information Section */
.room-options-info {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    background-color: var(--light-bg);
}

.room-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 40px;
}

.text-content {
    flex: 1;
}

.room-options-info h2 {
    font-size: 4.5em;
    color: var(--text-color);
    margin-bottom: 10px;
    font-weight: 700;
}

.room-options-info .subtext {
    font-size: 1.5em;
    color: var(--text-color);
    line-height: 1.6;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Room Options Cards Section */
.room-options-cards {
    padding: 60px 20px;
    text-align: center;
}

.room-options-cards .room-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.room-options-cards .card {
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 30px;
    width: 100%;
    max-width: 460px;
    text-align: left;
    display: flex; /* Torna o card um flex container */
    flex-direction: column; /* Elementos empilhados verticalmente */
    justify-content: space-between; /* Espaço entre o conteúdo e o botão */
}

.room-options-cards .card h3 {
    font-size: 2.5em;
    color: var(--accent-color);
    margin-bottom: 10px;
    text-align: center;
}

.room-options-cards .card .price {
    font-size: 3.5em;
    font-weight: 800;
    color: var(--text-color);
    text-align: center;
    margin-top: 10px;
}

.price-description {
    font-weight: 400;
    font-size: 1.1em;
    color: var(--text-color);
    margin-bottom: 2em;
}

.room-options-cards .card .description {
    font-size: 1em;
    font-weight: 500;
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 40px;
}

.room-options-cards .card ul {
    list-style-type: none;
    padding: 0;
}

.room-options-cards .card ul li {
    font-size: 1em;
    color: var(--text-color);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.room-options-cards .card ul li i {
    color: var(--accent-color);
    margin-right: 8px;
    font-size: 1.2em;
    font-weight: 900;
}

.room-options-cards .cta-button {
    background-color: var(--primary-bg);
    color: var(--secondary-bg);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 200px;
    padding: 20px 0;
    margin-top: auto; /* Garante que o botão fique na parte inferior */
    align-self: center; /* Centraliza horizontalmente o botão */
}

.room-options-cards .cta-button:hover {
    background-color: var(--highlight-bg);
    color: var(--text-color);
}

/* Meet Your Guides Section */
.guides {
    background-color: var(--primary-bg);
    padding: 60px 20px;
    text-align: center;
}

.guides h2 {
    font-size: 3.5em;
    color: var(--secondary-bg);
    margin-bottom: 40px;
    font-weight: 700;
}

.guide-cards {
    display: flex;
    gap: 40px; /* Espaço maior entre os cards */
    justify-content: space-between; /* Distribui os cards com espaço entre eles */
    flex-wrap: wrap; /* Permite que os cards se ajustem em telas menores */
    margin: 0 auto;
    max-width: 1200px; /* Limita a largura total do container */
    padding: 0 ; /* Mais espaço nas laterais da seção */
}

.guide-cards .card .profile-image {
    padding: 40px 40px 20px 40px;
}

.card {
    background-color: var(--light-bg);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px); /* Ocupa 50% menos o gap entre os cards */
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 2.2em; /* Nome maior */
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.card p {
    font-size: 1.1em;
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 20px; /* Mais espaço nas laterais dos parágrafos */
    font-weight: 200; /* Texto mais leve */
}

.links-section {
    margin-top: 20px;
    text-align: center;
}

.links-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--text-color);
}

.link-list {
    list-style: none; /* Remove as bolinhas (markers) */
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.link-list li {
    margin: 5px 0;
}

.link-list a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--accent-color);
    padding: 15px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre o ícone e o texto */
}

.link-list a:hover {
    background-color: var(--accent-color);
    color: var(--secondary-bg);
}

.link-list i {
    font-size: 1.2em; /* Ajusta o tamanho do ícone */
}

/* FAQ Section */
.faq {
    background-color: var(--light-bg);
    padding: 60px 20px;
    text-align: center;
}

.faq h2 {
    font-size: 2.5em;
    color: var(--text-color);
    margin-bottom: 40px;
}

.me-accordion {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.me-accordion-item {
    border-bottom: 1px solid var(--accent-color);
    padding: 10px 0;
}

.me-accordion-button {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--text-color);
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease;
}

.me-accordion-button:hover {
    color: var(--accent-color);
}

.me-accordion-item.active .me-accordion-button {
    color: var(--accent-color);
}

.me-accordion-arrow {
    font-size: 1.5em;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.me-accordion-item.active .me-accordion-arrow {
    transform: rotate(90deg);
}

.me-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 10px;
    color: var(--text-color);
}

.me-accordion-content p {
    margin: 10px 0;
    font-size: 1em;
    line-height: 1.6;
}

/* Active state */
.me-accordion-item.active .me-accordion-content {
    max-height: 500px;
}

.me-accordion-arrow {
    font-size: 1.2em;
    transition: transform 0.3s ease;
  }
  
.me-accordion-item.active .me-accordion-arrow {
transform: rotate(180deg); 
}  


/* Contact Us Section */
.contact {
    background-color: var(--light-bg);
    padding: 60px 20px;
    text-align: center;
}

.contact h2 {
    font-size: 2.5em;
    color: var(--text-color);
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.1em;
    color: var(--text-color);
    margin-bottom: 40px;
}

/* Contact Options Styling */
.contact-options {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
}

.contact-option {
    background-color: #fff;
    border: 2px solid var(--primary-bg);
    border-radius: 50px;
    padding: 15px 20px;
    color: var(--primary-bg);
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.contact-option .material-icons {
    font-size: 1.5em;
}

/* Hover effect */
.contact-option:hover {
    background-color: var(--primary-bg);
    color: var(--secondary-bg);
}

/* Footer */
footer {
    background-color: var(--primary-bg);
    color: var(--secondary-bg);
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.footer-logo img {
    max-height: 50px;
}

.footer-bottom {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto 0;
}

.footer-bottom p {
    margin: 0;
}

.footer-terms {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.footer-terms li a {
    color: var(--secondary-bg);
    text-decoration: none;
    font-size: 0.9em;
}

.footer-terms li a:hover {
    color: var(--highlight-bg);
}

.social-links a {
    color: var(--secondary-bg);
    margin: 0 5px;
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
}

.social-links a:hover {
    color: var(--highlight-bg);
}

/* Why Us */
.why-us {
    background-color: #D9EFDE;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .why-us .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
  }
  
  .why-us .left {
    flex: 0.4;
    text-align: left;
    font-size: 3em;
    font-weight: 200;
    line-height: 1.4;
  }
  
  .why-us .right {
    flex: 0.6;
    margin-left: 20px;
  }
  
  .why-us .right p {
    margin: 0 0 20px;
    font-size: 1.8em;
    font-weight: 200;
    text-align: left;
  }  

/* Whatsapp */
  .whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color: #25d366; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .whatsapp-icon a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .whatsapp-icon:hover {
    transform: scale(1.1); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  }
  
  .whatsapp-icon i {
    margin: 0;
  }
  

/* Activities Section */
.activities {
    font-size: 2.5em;
    background-color: #FFFFFF; /* Fundo branco */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px; /* Espaçamento interno */
}

.activities .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Limita a largura máxima */
}

.activities .left {
    flex: 0.6; /* Lado esquerdo maior para a lista */
    text-align: left;
}

.activities .left ul {
    list-style: none; /* Remove bullets padrão */
    padding: 0;
    margin: 0;
}

.activities .left li {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 200;
    color: var(--primary-bg);
    margin-bottom: 20px;
}

.activities .left li i {
    margin-right: 15px; /* Espaçamento entre o ícone e o texto */
    font-size: 1.8em; /* Tamanho do ícone */
    color: var(--primary-bg)
}

.activities .right {
    flex: 0.4; /* Lado direito menor para o título */
    text-align: right;
}

.activities .right h2 {
    font-size: 3em;
    font-weight: 700;
    color: var(--primary-bg)
}

.activities .left li i {
    margin-right: 35px; /* Espaçamento entre o ícone e o texto */
    font-size: 1em; /* Tamanho do ícone */
    color: var(--accent-color)
}


/* Media Queries Unificadas */

/* Telas até 992px */
@media (max-width: 992px) {
    .experience-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Telas até 768px */
@media (max-width: 768px) {
    /* Why Us Section */
    .why-us {
        width: 100%;
        padding: 20px;
        height: auto;
    }
    .why-us .content {
        flex-direction: column;
        text-align: left;
        align-items: flex-start;    
    }
    .why-us h2 {
        margin-bottom: 0px;
    }
    .why-us .left {
        font-size: 2.5em;
        line-height: 1.2;
    }
    .why-us .right {
        margin-left: 0;
        margin-top: 20px;
    }
    .why-us .right p {
        margin: 10px 0;
        font-size: 1em;
    }

    /* Activities Section */
    .activities {
        flex-direction: column;
        padding: 20px;
    }
    .activities .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .activities .left {
        text-align: center;
    }
    .activities .left li {
        font-style: 0.6em;
    }
    .activities .right {
        text-align: right;
    }
    .activities .right h2 {
        font-size: 2em;
    }

    /* Inclusions and Exclusions Section */
    .inclusions-exclusions {
        flex-direction: column;
        padding: 20px;
    }
    .inclusion-card,
    .exclusion-card {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .inclusion-card h2,
    .exclusion-card h2 {
        font-size: 1.5em;
    }
    .inclusion-card li,
    .exclusion-card li {
        font-size: 0.9em;
    }

    /* Guides Section */
    .card {
        width: 100%; /* Cards ocupam toda a largura disponível */
        max-width: none; /* Remove o limite de largura */
    }
    .guides h2 {
        font-size: 2.5em; /* Ajusta o tamanho do título em telas menores */
    }
    .card h3 {
        font-size: 1.8em; /* Ajusta o tamanho do nome */
    }
    .card p {
        font-size: 1em; /* Texto um pouco menor para caber melhor */
    }

    /* Text Container */
    .text-container h1 {
        font-size: 2.5em; /* Ajusta o tamanho do título */
    }
    .text-container img {
        max-width: 160px;
        margin-bottom: 50px;
    }
    .text-container p {
        font-size: 1em;
    }
}

/* Telas até 600px */
@media (max-width: 600px) {
    .experience-cards {
        grid-template-columns: 1fr;
    }
}

/* Telas até 480px */
@media (max-width: 480px) {
    .guides {
        padding: 40px 10px; /* Reduz o padding geral */
    }
    .guides h2 {
        font-size: 2em; /* Título menor para telas muito pequenas */
    }
    .card {
        padding: 10px; /* Reduz o padding interno dos cards */
    }
    .card h3 {
        font-size: 1.5em; /* Reduz o tamanho do nome ainda mais */
    }
    .link-list a {
        font-size: 1em; /* Reduz tamanho do texto dos links */
        padding: 10px; /* Menor espaçamento nos botões */
    }

    /* Text Container */
    .text-container h1 {
        font-size: 2.5em; /* Título menor para telas muito pequenas */
    }
    .text-container img {
        max-width: 160px;
        margin-bottom: 50px;
    }
    .text-container p {
        font-size: 1em; /* Texto um pouco menor */
    }

    .location-content h2,
.text-content h2 {
    font-size: 2.5rem;
}

.location-content p, 
.introduction .text-content p {
    font-size: 18px;
}

.introduction .text-content p:last-of-type {
    font-size: 18px;
}

}

@media (max-width: 768px) {
    .room-content {
        flex-direction: column; /* Organiza em coluna */
        align-items: center; /* Centraliza os itens */
        gap: 20px; /* Reduz o espaço entre texto e imagem */
    }

    .room-options-info h2 {
        font-size: 2.5em; /* Tamanho reduzido para títulos */
        text-align: center; /* Centraliza o texto */
    }

    .room-options-info .subtext {
        font-size: 1em; /* Ajusta o tamanho do texto */
        text-align: center; /* Centraliza os parágrafos */
        line-height: 1.4; /* Melhora a legibilidade */
    }

    .image-content img {
        max-width: 100%; /* Garante que a imagem ocupe a largura disponível */
        height: auto;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .inclusion-card, .exclusion-card {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .activities {
        flex-direction: column; /* Empilha os elementos */
        padding: 40px 20px; /* Reduz o espaçamento interno */
        text-align: center; /* Centraliza texto por padrão */
    }

    .activities .content {
        flex-direction: column-reverse; /* Coloca o texto acima da lista */
        align-items: center; /* Centraliza os elementos */
        width: 100%; /* Ocupa a largura total */
    }

    .activities .left {
        flex: none; /* Remove proporções fixas */
        width: 100%; /* Garante que a lista ocupe a largura disponível */
        text-align: left; /* Mantém o alinhamento à esquerda */
        margin-bottom: 20px; /* Espaçamento inferior */
    }

    .activities .left ul {
        padding: 0 20px; /* Adiciona padding para melhor alinhamento */
        font-size: 0.9em; /* Reduz o tamanho da lista */
    }

    .activities .left li {
        margin-bottom: 10px; /* Reduz o espaçamento entre itens */
        font-size: 0.6em; /* Ajusta o tamanho do texto */
    }

    .activities .left li i {
        margin-right: 10px; /* Espaçamento menor entre ícone e texto */
        font-size: 1.2em; /* Ícones menores */
    }

    .activities .right {
        flex: none; /* Remove proporções fixas */
        width: 100%; /* Título ocupa a largura total */
        margin-bottom: 20px; /* Espaçamento inferior */
    }

    .activities .right h2 {
        font-size: 1.5em; /* Tamanho do título reduzido */
        text-align: left; /* Centraliza o texto */
    }
    .activities .left ul {
        padding: 0px;
    }
}

@media (max-width: 768px) {
    .why-us {
        padding: 40px 20px; /* Adiciona espaçamento interno */
    }

    .why-us .content {
        flex-direction: column; /* Organiza em coluna */
        align-items: left; /* Centraliza o conteúdo */
        width: 100%; /* Ocupa a largura total */
    }

    .why-us .left {
        flex: none; /* Remove a proporção fixa */
        font-size: 1.5em; /* Reduz o tamanho do texto */
        font-weight: 300; /* Deixa o texto mais leve */
        text-align: left; /* Centraliza o texto */
        margin-bottom: 20px; /* Espaçamento inferior */
        line-height: 1.2; /* Ajusta o espaçamento entre linhas */
        white-space: nowrap; /* Impede quebra de linha */
    }

    .why-us .left span {
        display: inline; /* Garante que todos os spans fiquem na mesma linha */
    }

    .why-us .right {
        flex: none; /* Remove a proporção fixa */
        margin-left: 0; /* Remove o espaçamento lateral */
        text-align: center; /* Centraliza os parágrafos */
    }

    .why-us .right p {
        font-size: 1.2em; /* Reduz o tamanho do texto */
        margin: 10px 0; /* Diminui o espaçamento entre os parágrafos */
    }
}
